* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f4f7f6;
}

.admin-layout {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 260px;
  background: #1e293b;
  color: white;
  padding: 20px;
}
.sidebar h2 {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #38bdf8;
}
.sidebar a {
  display: block;
  color: #94a3b8;
  padding: 12px 15px;
  text-decoration: none;
  border-radius: 6px;
  margin-bottom: 5px;
  transition: 0.3s;
}
.sidebar a:hover {
  background: #334155;
  color: white;
}

.content {
  flex: 1;
  padding: 30px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
input,
select {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #cbd5e1;
  border-radius: 6px;
}
button {
  background: #0f172a;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
button:hover {
  background: #334155;
}
